.container {
  width: 900px;
  margin: 15px auto;
}

.row {
  display: flex;
}

.style-wrap {
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: 66%;
}

.font {
  font-family: karla, sans-serif;
}

.display-flex {
  display: flex;
}

.style-title {
  display: flex;
  text-align: center;
}

.text-container {
  width: 70%;
}

.item-center {
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

p {
  font-size: 0.9rem;
}

img {
  width: 70%;
}
